.backgroundColor {
    -fx-background-color: linear-gradient(to bottom right, #7F7FD5, #86A8E7, #91EAE4);
}

.glassBackground {
    -fx-background-color: rgba(255, 255, 255, 0.5); /* Adjust the last value (0.5) for the desired opacity */
    -fx-border-radius: 5px;
}

.glowingWhite {
    -fx-background-color: #ffffff; /* Set the background color */
    /*-fx-effect: dropshadow(glow, #ffffff, 10, 1, 0, 0); !* Apply the glow effect *!*/
}

.activeField {
    -fx-background-color: green;
    -fx-background-radius: 5px;
    -fx-text-fill: white; /* Text color for active field */
}

.inactiveField {
    -fx-background-color: white;
    -fx-background-radius: 5px;
    -fx-text-fill: black; /* Text color for active field */
}

.shuffleCard {
    -fx-background-color: linear-gradient(to top right, #BAD80A, #009E49);
    -fx-border-radius: 5px;
}

.shuffleButton {
    -fx-border-radius: 2000px;
    -fx-background-color: #FFFFFF;
}