.backgroundColor {
    -fx-background-color: linear-gradient(to bottom right, #7F7FD5, #86A8E7, #91EAE4);
}

.glassBackground {
    -fx-background-color: rgba(255, 255, 255, 0.5); /* Adjust the last value (0.5) for the desired opacity */
    -fx-border-radius: 5px;
}
.hasCardGlassBackground {
    -fx-background-color: rgba(255, 255, 255, 0.5); /* Adjust the last value (0.5) for the desired opacity */
    -fx-border-radius: 5px;
}
.glowingWhite {
    -fx-background-color: #ffffff; /* Set the background color */
    /*-fx-effect: dropshadow(glow, #ffffff, 10, 1, 0, 0); !* Apply the glow effect *!*/
}

.activeField {
    -fx-background-color: green;
    -fx-background-radius: 5px;
    -fx-text-fill: white; /* Text color for active field */
}

.inactiveField {
    -fx-background-color: white;
    -fx-background-radius: 5px;
    -fx-text-fill: black; /* Text color for active field */
}

.shuffleCard {
    -fx-background-color: linear-gradient(to top right, #FEE6CB, #FCB8A1);
    -fx-border-radius: 5px;
}

.tokoDialog {
    -fx-background-color: linear-gradient(to top right, #ACEFE1, #FABFC0);
    -fx-border-radius: 5px;
}

.shuffleButton {
    -fx-border-radius: 2000px;
    -fx-background-color: #FFFFFF;
}

.card-shuffle {
    -fx-layout-x: 50%;
    -fx-layout-y: 50%;
    -fx-translate-x: 125px; /* setengah dari lebar prefWidth cardShuffle */
    -fx-translate-y: 225px; /* setengah dari tinggi prefHeight cardShuffle */
    /*-fx-z-index: 50;*/
    -fx-border-radius: 100px;/* Atur z-index lebih tinggi dari elemen lain */
}

.tokoBackground {
    -fx-background-image: url("../../../assets/bgToko.jpg");
    -fx-background-size: 850px 775px; /* Lebar 850px, Tinggi 750px */
    -fx-background-repeat: no-repeat; /* Agar gambar tidak diulang */
    -fx-background-position: center; /* Posisikan gambar di tengah */
}
.saveload{
    -fx-background-color: #FFFFFF;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.etalaseBackground {
    -fx-background-color: rgba(0, 0, 0, 0.5); /* Adjust the last value (0.5) for the desired opacity */
    -fx-border-radius: 5px;
}

.gambarBackground {
    -fx-background-color: rgba(192, 192, 192, 1); /* Sesuaikan nilai terakhir (0.5) untuk kekeruhan yang diinginkan */
    -fx-border-radius: 5px;
}

.guldenBackground {
    -fx-background-color: rgba(128, 128, 128, 1); /* Sesuaikan nilai terakhir (0.5) untuk kekeruhan yang diinginkan */
    -fx-border-radius: 3px;
}

.objectInfoBackground {
    -fx-background-color: linear-gradient(to top right, #FEE6CB, #FCB8A1);
}

.backButton {
    -fx-background-color: white;
    -fx-pref-width: 75;
    -fx-pref-height: 25;
}

.panenButton {
    -fx-background-color: white;
    -fx-pref-width: 125;
    -fx-pref-height: 30;
}

.objectInfoPanel {
    -fx-layout-x: 50%;
    -fx-layout-y: 50%;
    -fx-translate-x: 125px; /* setengah dari lebar prefWidth cardShuffle */
    -fx-translate-y: 225px; /* setengah dari tinggi prefHeight cardShuffle */
}

.startBackground {
    -fx-background-color: linear-gradient(to top right, #EEA5E9, #B7F0F5);
}